// @mixin responsive($width) {
//   @media (max-width: $width) {
//     @content;
//   }
// }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #3f50e8;
  padding-bottom: 2rem;
  @media (max-width: 768px) {
    padding-bottom: 0.5rem;
  }
  img {
    max-width: 60%;
    @media (max-width: 900px) {
      max-width: 50%;
    }
    @media (max-width: 576px) {
      max-width: 45%;
    }
  }
  .social-links {
    display: flex;
    .link-icon {
      margin-right: 1rem;
      img {
        max-width: 80%;
        cursor: pointer;
        @media (max-width: 900px) {
          max-width: 90%;
        }
      }
    }
  }
}
